.idea
/.idea/Callisia.iml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/datasets/dalia/standardized/S1/chest/
/datasets/dalia/standardized/S1/wrist/
/datasets/dalia/standardized/S2/chest/
/datasets/dalia/standardized/S2/wrist/
/datasets/dalia/standardized/S3/chest/
/datasets/dalia/standardized/S3/wrist/
/datasets/dalia/standardized/S4/chest/
/datasets/dalia/standardized/S4/wrist/
/datasets/dalia/standardized/S5/chest/
/datasets/dalia/standardized/S5/wrist/
/datasets/dalia/standardized/S6/chest/
/datasets/dalia/standardized/S6/wrist/
/datasets/dalia/standardized/S7/chest/
/datasets/dalia/standardized/S7/wrist/
/datasets/dalia/standardized/S8/chest/
/datasets/dalia/standardized/S8/wrist/
/datasets/dalia/standardized/S9/chest/
/datasets/dalia/standardized/S9/wrist/
/datasets/dalia/standardized/S10/chest/
/datasets/dalia/standardized/S10/wrist/
/datasets/dalia/standardized/S11/chest/
/datasets/dalia/standardized/S11/wrist/
/datasets/dalia/standardized/S12/chest/
/datasets/dalia/standardized/S12/wrist/
/datasets/dalia/standardized/S13/chest/
/datasets/dalia/standardized/S13/wrist/
/datasets/dalia/standardized/S14/chest/
/datasets/dalia/standardized/S14/wrist/
/datasets/dalia/standardized/S15/chest/
/datasets/dalia/standardized/S15/wrist/