.idea
/.idea/Callisia.iml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/data/
/models/block_1/

/models/baselines/block_1/trial_1/best_model.pth
/models/baselines/block_1/trial_2/best_model.pth
